body {
  font-family: Georgia, serif;
  font-size: 1em;
  color: #24292d;
  padding: 0;
}

h1 {
  font-size: 3.5em;
  font-weight: bold;
}

a {
  color: #23b0bd;
  text-decoration: none;
}

a:hover {
  color: #23b0bd;
  text-decoration: underline;
}

pre {
 font-family: Menlo,Consolas,"Courier New",monospace;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.teletype {
  font-variant: small-caps;
}

.justify {
  text-align: justify;
}

.command {
  font-family: Menlo, Consolas, "Courier New", monospace;
  display: inline-block;
  font-size: 0.9em;
}

.row {
  padding: 65px 10% 0 10%;
}

.green,
.dark,
.orange,
.blue,
.red,
.turqoise {
  color: white;
}

.green {
  background-color: #9fbf00;
}

.dark {
  background-color: #24292d;
}

.orange {
  background-color: #ff9500;
}

.blue {
  background-color: #23b0bd;
}

.red {
  background-color: #a6284c;
}

.turqoise {
  background-color: #00d9a3;
}

/* General rules for .content-area */
.content-area {
  margin: 0 auto 2em auto;
}

/* CSS clear/float fix, see http://nicolasgallagher.com/micro-clearfix-hack/

  Make .content-area contain floated elements. Make a class .cf for other uses
*/
.content-area:before,
.content-area:after,
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.content-area:after,
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.content-area,
.cf {
  *zoom: 1;
}

.column {
  float: left;
  clear: none;
}

.column.one-quarters {
  width: 25%;
}

.column.one-thirds {
  width: 33%;
}

.column.half {
  width: 50%;
}

.column.two-thirds {
  width: 67%;
}

.column.three-quarters {
  width: 75%;
}

.column.full {
  width: 100%;
  clear: both;
}

#header {
  text-align: center;
  height: 100px;
  margin-bottom: 2em;
}

#header h1 {
  margin-top: 0;
  color: white;
}

#main-headers-container {
  display: inline-block;
  padding: 0;
}

#main-headers,
#main-logo {
  float: left;
}

#main-headers hr {
  border-color: #24292d;
  margin-top: 10px;
}

#main-logo > div {
  behavior: url(/PIE.htc);
  height: 70px;
  width: 70px;
  border-radius: 70px;
  position: relative;
  top: 0.8em;
  background: #24292d url(../img/icons.gif) no-repeat -295px center;

}

#menu-container {
  padding-top: 0;
}

.navbar,
.navbar-inner {
  background-image: none;
  background-color: inherit;
  border: none;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.navbar {
  height: 4em;
  display: table;
}

.navbar-inner {
  height: auto;
  display: table-cell;
  vertical-align: middle;
  filter: none;
}

.navbar .nav {
  float: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover {
  color: white;
  font-weight: 100;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
}

.navbar .nav > li > a:hover {
  color: #9fbf00;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #9fbf00;
  box-shadow: none;
  background-color: inherit;
}

.navbar .divider-vertical {
  color: #708088;
  border-right: 0;
  border-left: 1px solid #708088;
}

.affix-top {
  position: absolute;
  left: 0;
}

.affix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}

.column > p {
  text-align: justify;
  padding-right: 5em;
}

#introduction {
  padding-top: 7em;
}

.introduction-buttons {
  width: auto;
  margin: 2em 0;
}

.introduction-buttons .button {
  display: inline-block;
  float: left;
  margin-right: 1em;
  padding: 0.5em 1.5em;
}

.button a,
.button a:hover {
  color: inherit;
  text-decoration: none;
}

.button hr {
  margin: 0;
  border-top: 0px;
}

#news {
  border-radius: 3px;
}

.row-header {
  text-align: center;
  margin-bottom: 0.7em;
}

#architecture img {
  cursor: pointer;
}

#architecture .caption {
  font-style: italic;
  font-size: 0.6em;
  -webkit-font-smoothing: antialiased;
  line-height: 4em;
}

#architecture-image-modal {
  width: 809px; /* width of the image */
}

#architecture-image-modal .modal-body{
  max-height: 453px; /* height of the image */
}

#examples hr {
  border-color: black;
}

.carousel {
  margin: 0;
}

.carousel-inner .item {
  margin: 0 5em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4em;
  height: 600px;
  overflow: auto;
}

.carousel-inner .item .column {
  height: 600px;
}

.vertical-align {
  display: table;
}

.vertical-align > .vertical-content {
  display: table-cell;
  vertical-align: middle;
  padding-left: 2em;
}

.item .margin {
  padding-left: 0;
  padding-right: 2em;
}

#example-report-last-paragraph {
  text-align: justify;
  margin-bottom: 0;
}

.caption.margin .highlight {
  margin-top: 3em;
}

#report,
#log {
  width: 100%;
}

#report {
  margin: 1em 0;
}

#log {
  margin-bottom: 1em;
}

.item pre {
  background-color: inherit;
  display: block;
  padding: 0 1em;
  font-size: 0.6em;
  line-height: 1.7em;
}

.carousel-control {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  text-decoration: none;
  border: 0px;
}

.carousel-control.left {
  background: black url(../img/icons.gif) no-repeat -70px center;
}

.carousel-control.right {
  background: black url(../img/icons.gif) no-repeat -8px center;
}

#carousel-balls {
  margin: 1em auto 0 auto;
  /* width set dynamically in js */
}

#carousel-balls .popover {
  background-color: #24292d;
}

#carousel-balls .popover-title {
  display: none;
}
#carousel-balls .popover.bottom .arrow {
  border-bottom-color: #24292d;
  color: #24292d;
}

.carousel-ball {
  background-color: white;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin: 0 5px;
  border: 1px solid white;
  border-radius: 8px;
  vertical-align: middle;
  cursor: pointer;
}

.carousel-ball.active {
  height: 18px;
  width: 18px;
  border-radius: 18px;
}

#architecture .column-content {
  margin-right: 2em;
}

#architecture a,
#architecture a:visited {
  color: white;
}

#architecture hr {
  margin: 10px 0;
  border-top: 0;
  border-bottom: 0;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
}

.links {
  text-align: center;
  border-top: 3px solid #9fbf00;
  border-bottom: 3px solid #9fbf00;
  padding: 1em 0;
  position: relative;
  margin: 4em 0 1em 0;
}

.links > a,
.links > a:hover {
  text-decoration: none;
  color: #708088;
  font-size: 1.5em;
  margin-right: 2em;
}

.links > a.active,
.links > a:hover.active {
  color: white;
}

.links .marker {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 12px 11px;
  border-color: transparent transparent #9fbf00 transparent;
  position: absolute;
  bottom: 0;
}

.column .link > a:first-child {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  display: block;
  width: 100%;
  text-align: center;
}

.column .link > a:first-child:hover {
  text-decoration: underline;
}

.external-links {
  display: none;
}

.external-links.active {
  display: block;
}


#libraries .links a.active {
  color: #24292d;
}

.link {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  padding: 1em 0.5em;
}

#tools a {
  color: #24292d;
}

#tools .links a.active {
  color: white;
}

#tools .links {
  border-top: 3px solid #24292d;
  border-bottom: 3px solid #24292d;
}

#tools .links .marker {
  border-color: transparent transparent #24292d transparent;
}

#tools .link {
  color: white;
}

#documentation .links {
  border-top: 3px solid #ff9500;
  border-bottom: 3px solid #ff9500;
}

#documentation .links .marker {
  border-color: transparent transparent #ff9500 transparent;
}

#documentation .links a {
  color: #708088;
}

#documentation .links a.active {
  color: white;
}

#docs-getting-started .link {
  min-height: 65px;
}

#docs-articles .link {
  min-height: 80px;
}

#support p a, #support p a:hover, #support .link a, .contact-icons a {
  color: #24292d;
}

.contact-icons {
  padding-top: 2em;
}

.contact-icons .content-area {
  padding-bottom: 2em;
}

.contact-icons p {
  -webkit-font-smoothing: antialiased;
  text-align: inherit;
  margin-bottom: 0;
  padding: 0;
}

.contact-icons .column {
  text-align: center;
}

.contact-icons .contact-icon {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: black;
  background-image: url(../img/icons.gif);
  background-repeat: no-repeat;
  margin: 0 auto;
}

#twitter {
  background-position: -248px center;
}

#chat {
  background-position: -178px center;
}

#mail {
  background-position: -119px center;
}

#report-issue {
  background-position: -359px center;
}

#slack {
  background-position: -411px center;
}

#other-support, #contact-commercial {
  text-align: center;
  padding-top: 2em;
}

#contact-commercial .link {
  min-height: 80px;
}

.other-support-heading {
  font-size: 1.7em;
  -webkit-font-smoothing: antialiased;
  border-top: 2px solid #24292d;
  border-bottom: 2px solid #24292d;
  line-height: 2em;
}

#users a {
  color: #24292d;
}

#users img {
  margin-bottom: 1em;
}

#users > .content-area > p {
  margin-bottom: 2em;
}

#end .row-header {
  margin-bottom: 0;
  font-size: 2.5em;
}

#end .slogan {
  text-align: center;
}

#end .slogan a {
  text-decoration: none;
}

#end .slogan a:hover {
  text-decoration: underline;
}
