@font-face {
  font-family: 'OCRA';
  src: url('../../assets/fonts/OCRA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.robocon-banner {
  background-color: #000;
  color: white;
  margin: 1rem;
  padding: 1rem;
  font-family: "OCRA";
}

@media only screen and (max-width: 997px) and (min-width: 768px) {
  .robocon-banner {
    margin-left: 4rem;
  }
}

.wwww {
  background-color: #1e88e5;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.wwww.header {
  margin-bottom: 1rem;
  padding: 2rem;
}

.robocon-banner h1 {
  font-size: 5rem;
  margin: 0;
  color: #20f73f;
}

.robocon-banner h2 {
  display: inline-block;
  font-size: 2.5rem;
  margin: 0;
  color: #20f73f;
}

.robocon-banner a, .robocon-banner a:hover {
  color: #20f73f;
}

body {
  background-color: #fff;
  font-family: Georgia;
  font-size: 1.2rem;
  ;
  text-align: left;
  overflow-x: hidden;
}

#header-robologo {
  padding: 0;
}

.b-card-body p a {
  color: #fff;
}

.footer-content {
  color: #000;
  text-align: center;
  margin: 50px;
}

footer {
  background-color: rgb(0, 192, 181);
}

footer h2 {
  color: #fff;
}

.base-button {
  border: solid 1px rgb(0, 192, 181);
  background-color: #fff;
  color: rgb(0, 192, 181);
}

a {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

a:hover {
  color: #000;
}

header a.nav-link:hover {
  color: #fff;
}

p {
  font-family: Georgia;
  margin-bottom: 1rem;
}

header ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-family: "OCRA";
  margin-right: 0;
  letter-spacing: 0.05em;
  font-weight: normal;
}

code {
  font-family: "Courier";
  color: black;
  padding: 4px;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

section {
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4 {
  color: rgb(0, 192, 181);
}

h1,
h2,
h3,
h4,
div.card-header {
  font-family: "OCRA";
  text-transform: uppercase;
  text-align: left;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 3rem;
}

h4 {
  font-size: 1.2rem;
  margin-top: 2rem;
}

h1.main-header {
  text-align: center;
  font-size: 20px;
  font-size: 6rem;
  line-height: 0.9;
  color: #000;
}

h1.main-header::first-line {
  color: #fff;
}

.main-header-container {
  width: 340px;
  margin: 10px auto;
  padding-bottom: 50px;
}

.header {
  background-color: rgb(0, 192, 181);
  margin: 0;
  padding-top: 50px;
}

.white-box {
  font-family: Georgia;
  color: #000;
  background-color: #fff;
  padding: 10px;
  margin: 6px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  display: table;
  min-width: 200px;
  margin: 0 auto;
}

small.info {
  margin: 0 auto;
  display: block;
}

small.info::after {
  content: "  ••••••••••••••"
}

.card.feature-box {
  background-color: rgb(0, 192, 181);
  color: #fff;
}

#nav_collapse .nav-item a {
  font-family: "OCRA";
  color: #fff;
  font-weight: normal;
}

a {
  font-weight: bold;
}

#nav_collapse .nav-item a.active,
a {
  color: rgb(0, 192, 181);
}

hr {
  border-style: dashed;
  border-color: #fff;
  border-width: 3px 0 0 0;
}

.navbar-brand h1 {
  font-family: "OCRA";
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0;
  padding-bottom: 20px;
  white-space: pre-line;
  line-height: 0.9;
  color: rgb(0, 192, 181);
}

.navbar-brand .img-fluid {
  margin: 0;
  padding: 35% 20%;
  width: 150px;
}

#navigation.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 0;
  padding-right: 0;
  min-width: 180px;
  text-align: center;
  height: 100vh;
  text-transform: uppercase
}

#navigation.sidebar {
  background-color: rgb(0, 0, 0);
}

#navigation .nav-item.active a.nav-link {
  color: rgb(0, 192, 181);
}

#navigation .nav-item a.nav-link:hover {
  color: rgb(0, 192, 181);
}

#navigation .nav-item a.nav-link {
  font-family: 'OCRA';
  color: #fff;
  text-align: left;
  font-size: 0.8rem;
  padding-left: 16%;
}

#navigation-collapsed {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

#nav_collapse .nav-item a {
  color: #fff;
  text-transform: uppercase
}

#nav_collapse .nav-item a:hover {
  color: rgb(0, 192, 181);
  text-decoration: none;
}

.nav-pills .nav-link {
  border-radius: 0;
  font-family: OCRA;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.nav-pills li a {
  color: rgb(0, 192, 181);
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  background: none;
  margin-right: 4px;
  border: 1px solid rgb(0, 192, 181);
}

.nav-pills li:last-child a {
  margin-right: 0;
}

.nav-pills li.nav-item .nav-link.active {
  color: #fff;
  border: 1px solid rgb(0, 192, 181);
  border-radius: 0;
  background: rgb(0, 192, 181);
}

.card {
  padding: 30px;
  color: #666;
  line-height: 1.1rem;
  font-family: Georgia;
  border-radius: 0;
  border: none;
  background-color: #e7e7e7;
  height: 100%;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.card.example {
  background: #212121;
}

.card-header {
  font-family: "OCRA";
  color: #fff;
  font-size: 2rem;
  text-align: left;
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 30px;
  background: none;
}

.card-body {
  padding: 5px;
  font-family: Georgia;
  text-align: left;
  font-size: 1rem;
  line-height: 1.3;
}

.card-body p {
  margin-top: 10px;
}

.card a {
  color: rgb(0, 192, 181);
}

.link {
  font-family: Courier;
}

th {
  display: none;
}

table {
  margin: 30px 0;
  font-size: 1rem;
}

.textblock-right {
  border-top: solid 1px #000;
}

.textblock-left {
  border-top: 1px solid rgb(0, 192, 181);
}

@media (max-width: 992px) {
  h1 {
    font-size: 1.5rem;
  }
}

@font-face {
  font-family: 'RBTFNT';
  src: url('../../assets/fonts/RBTFNT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.banner {
  background-color: #262330;
  font-size: 1.5rem;
  padding: 2rem;
  line-height: 1;
}

.banner-container {
  max-width: 768px;
  margin: auto;
}

.banner-container a {
  font-weight: 400;
  text-decoration-color: rgb(1, 255, 217);
}

.banner-left {
  font-family: RBTFNT;
  text-align: right;
  color: rgb(1, 255, 217);
  font-size: 3rem;
}

.banner-right {
  font-family: OCRA;
  text-align: start;
  color: white;
  font-size: 1.2rem;
}

.banner-description {
  font-family: OCRA;
  text-align: center;
  color: white;
  font-size: 1rem;
  padding-top: 1rem;
}

@media screen and (max-width: 991px) {
  .banner-right {
    display: none;
  }

  .banner-left {
    text-align: center;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
