/* new */
.color-text {
    color: var(--color-text);
}
.color-theme {
    color: var(--color-theme);
}
.color-bg {
    background-color: var(--color-bg);
}
.color-bg-lighter {
    background-color: var(--color-bg-lighter);
}
.color-bg-darker {
    background-color: var(--color-bg-darker);
}

.bg-theme {
    background-color: var(--color-theme);
}
.bg-theme-light {
    background-color: var(--color-theme-light);
}
.bg-theme-dark {
    background-color: var(--color-theme-dark);
}

.color-text {
    color: var(--color-text);
}
.color-text-invert {
    color: var(--color-bg);
}
.color-bg {
    background-color: var(--color-bg);
}
.color-bg-invert {
    background-color: var(--color-text);
}

.color-alert {
    color: var(--color-alert);
}
.bg-alert {
    background-color: var(--color-alert);
}

/* basic colors */
.color-black {
    color: var(--color-black);
}
.bg-black {
    color-scheme: dark;
    background-color: var(--color-black);
}

.color-grey-dark {
    color: var(--color-grey-dark);
}
.bg-grey-dark {
    color-scheme: dark;
    background-color: var(--color-grey-dark);
}

.color-grey-darkest {
    color: var(--color-background-darkmode);
}
.bg-grey-darkest {
    color-scheme: dark;
    background-color: var(--color-background-darkmode);
}

.color-grey {
    color: var(--color-grey);
}
.bg-grey {
    background-color: var(--color-grey);
}

.color-grey-light {
    color: var(--color-grey-light);
}
.bg-grey-light {
    background-color: var(--color-grey-light);
}

.color-white {
    color: var(--color-white) !important;
}
.bg-white {
    background-color: var(--color-white);
}

.color-red {
  color: var(--color-red);
}

.color-green {
    color: var(--color-green);
}

.color-background {
    color: var(--color-background) !important;
}
.bg-background {
    background-color: var(--color-background);
}

.hover-bright:hover {
    filter: brightness(1.1);
}
