.card {
    border-radius: var(--border-radius-rounded);
    box-shadow: 2px 4px 3px -1px rgba(0,0,0,0.1),
    6px 6px 15px -1px rgba(0,0,0,0.04);
    transition: box-shadow 0.2s;
}
.card:hover {
    box-shadow: 2px 4px 4px -1px rgba(0,0,0,0.16),
    6px 6px 20px -1px rgba(107, 84, 84, 0.1);
    @media (prefers-color-scheme: dark) {
        box-shadow: 3px 5px 8px -1px rgba(0,0,0,0.2),
        6px 6px 20px -1px rgba(0, 0, 0, 0.1);
    }
}
.card.sharp {
    border-radius: 0;
}

.rounded {
    border-radius: var(--border-radius-rounded);
}

.border-black {
    border: solid 0.15rem var(--color-black);
}
.border-white {
    border: solid 0.15rem var(--color-white);
}
.border-theme {
    border: solid 0.2rem var(--color-theme);
}

.border-right-theme {
    border-right: solid 0.2rem var(--color-theme);
}
.border-right-white {
    border-right: solid 0.2rem var(--color-white);
}
.border-bottom-theme {
    border-bottom: solid 0.2rem var(--color-theme);
}
.border-bottom-white {
    border-bottom: solid 0.2rem var(--color-white);
}
.border-left-theme {
    border-left: solid 0.2rem var(--color-theme);
}
.border-left-white {
    border-left: solid 0.2rem var(--color-white);
}
.border-top-theme {
    border-top: solid 0.2rem var(--color-theme);
}
.border-top-white {
    border-top: solid 0.2rem var(--color-white);
}

.border-light {
    border-width: 0.1rem;
}
.border-thin {
    border-width: 0.05rem;
}

button.theme, button.stroke, button.alert {
    border-radius: var(--border-radius-rounded);
    transition: 0.2s color, 0.1s background-color, box-shadow 0.1s;
    font-family: var(--font-title);
    padding: var(--size-2xsmall) var(--size-small);
}
button.theme {
    color: var(--color-black);
    background-color: var(--color-white);
    text-transform: uppercase;
    box-shadow: 2px 4px 3px -1px rgba(0,0,0,0.1),
    6px 6px 15px -1px rgba(0,0,0,0.04);
}
button.stroke {
    color: var(--color-white);
    border: solid 0.05rem var(--color-white);
}
button > svg {
    transition: fill 0.2s;
}
button.stroke:hover {
    color: var(--color-theme);
}
button:hover > svg {
    fill: var(--color-theme);
}
button.alert {
    color: var(--color-white);
    border: solid 0.05rem var(--color-alert);
}
button.alert:hover {
    color: var(--color-alert);
}
button.theme.active {
    background-color: var(--color-theme);
    color: var(--color-white);
    box-shadow: inset 2px 3px 2px -1px rgba(0,0,0,0.2);
}
button.theme.active > svg {
    fill: var(--color-white);
}
button.stroke.active {
    background-color: var(--color-white);
    color: var(--color-black);
    box-shadow: inset 2px 3px 2px -1px rgba(0,0,0,0.2);
}

@media screen and (max-width: 768px) {
    button.theme, button.stroke {
        padding: var(--size-2xsmall) var(--size-xsmall);
    }
}

button.small {
    font-size: var(--type-xsmall);
    padding: var(--size-3xsmall) var(--size-2xsmall);
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

button.bling {
    background: linear-gradient(
      90deg,
      var(--color-white) 35%,
      var(--color-theme) 40%,
      var(--color-theme) 60%,
      var(--color-white) 65%
    );
    background-size: 300%;
    background-position: 110% 50%;
    border-radius: var(--border-radius-rounded);
    animation: moveGradient 2s infinite;
    animation-timing-function: cubic-bezier(.9,0,.1,1);
}
@keyframes moveGradient {
    100% {
        background-position: -10% 50%;
    }
}

hr.theme {
    border: solid 2px var(--color-theme);
    border-radius: 4px;
    margin: 0;
}
