@import 'reset.css';
@import 'variables.css';
@import 'grid.css';
@import 'margins.css';
@import 'elements.css';
@import 'paddings.css';
@import 'text.css';
@import 'modifiers.css';
@import 'transitions.css';
@import 'colors.css';

html, body {
    min-height: 100vh;
    line-height: var(--line-height-body);
    background-color: var(--color-background);
    font-size: var(--size-base-lg);
}

#app {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-black);
}

#main {
    min-height: 100vh;
}

button {
    width: auto;
    padding: 0;
    margin: 0;
    line-height: normal;
    text-align: left;
    cursor: pointer;
    background: transparent;
    border: none;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}

select {
    height: 1.25rem;
}

* {
    box-sizing: border-box;
}

body:not(.accessible) * {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: var(--color-background-darkmode);
    }
    
    #app {
        color: var(--color-grey-light);
    }
}

@media screen and (max-width: 768px) {
    html, body {
        font-size: var(--size-base-md);
    }
}

@media screen and (max-width: 470px) {
    html, body {
        font-size: var(--size-base-sm);
    }
}
