body {
  font-family: serif;
  font-size: 100%;
  color: #7D6D6D;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #794444;
  font-family: sans-serif;
}
a {
  text-decoration: underline;
  color: #7D6D6D;
}
a:hover {
  text-decoration: none;
  color: #7D6D6D;
}
ul {
  list-style-type: none;
}
#silhuette {
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: 0;
  right: 50px;
  z-index: -1;
}
.section {
  height: 100%;
  border: 1px dashed gray;
  width: 1000px;
  margin: 20px auto;
  position: relative;
}
#header {
  text-align: center;
}
#news {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  width: 300px;
  overflow: auto;
  color: white;
  background: rgba(122, 69, 69, 0.5);
}
#introduction > p {
  width: 650px;
}
.clear {
  clear: both;
}
.sub-section {
  float: left;
  width: 330px;
}
