body {
  font-family: serif;
  font-size: 100%;
  color: #7D6D6D;
  /* Thanks http://sweetclipart.com for the original robot image!
     http://sweetclipart.com/black-robot-silhouette-1046 */
  background: white url(../img/robot-silhouette.png) 95% bottom no-repeat fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: #794444;
  font-family: sans-serif;
}
h2 {
  margin-top: 0;
}
p {
  margin: 0.5em 0 0 0;
}
a {
  text-decoration: underline;
  color: #7D6D6D;
}
a:hover {
  text-decoration: none;
  color: #7D6D6D;
}

ul {
  list-style-type: none;
}

#header {
  text-align: center;
  height: 100px;
}

.affix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}

#silhuette {
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: 0;
  right: 50px;
  z-index: -1;
}

.section {
  border: 1px dashed gray;
  max-width: 1000px;
  margin: 38px auto;
  position: relative;
  padding: 1em;
}

.section > p {
  text-align: justify;
}


#news {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  width: 300px;
  overflow: auto;
  color: white;
  background: rgba(122, 69, 69, 0.5);
  padding: 0.7em 0.5em;
  font-size: 0.7em;
  border-radius: 5px;
  border: 1px solid #BEAEAE;
  box-shadow: inset 0px 1px 3px 0px;
}

#news h3 {
  color: inherit;
  margin: 0;
  line-height: 1;
}

#news > p:first-child {
  margin: 0;
}

#news a {
  color: inherit;
}

#twitter-link {
  padding-right: 16px;
  color: white;
  background: transparent url(../img/twitter_bird.png) right center no-repeat;
}

.tweet_list {
  margin: 0.5em 0;
  border-top: 1px dotted white;
}

.tweet_odd, .tweet_even {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px dotted #eee;
}

.tweet_time {
  font-style: italic;
  font-size: 0.6em;
  display: block;
  margin-bottom: 0.3em;
  width: 100%;
  text-align: right;
}

.tweet_time a {
  text-decoration: none;
}

#introduction > p {
  width: 650px;
}

.clear {
  clear: both;
}

.carousel-control {
  text-decoration: none;
}

.carousel-caption {
  color: white;
}

.item img {
  margin-left: auto;
  margin-right: auto;
}

.sub-section {
  float: left;
  min-width: 30%;
  padding-right: 3%;
}

.sub-section > ul {
  margin: 0;
}

.tooltip {
  font-size: 0.9em;
}

#architecture > img {
  float: right;
  margin-left: 1.5em;
}
