<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/robotframework.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/pygments.css">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Oleo+Script|Open+Sans'>
    
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="/assets/js/robotframework.js"></script>
  </head>
  
  <body data-spy="scroll" data-target="#menu">
    <div id="wrapper">
        <div class="header container">
            <h1 id="main-header">Robot Framework</h1>
            <span id="main-header-slogan">Generic test automation framework for acceptance testing</span>
        </div>
        <div id="menu" class="navbar" data-spy="affix" data-offset-top="99">
          <ul class="nav">
            <li class="active"><a href="#introduction">Introduction</a></li>
            <li><a href="#examples">Examples</a></li>
            <li><a href="#test-libraries">Test libraries</a></li>
            <li><a href="#tools">Tools</a></li>
            <li><a href="#communication">Communication</a></li>
          </ul>
        </div>
        {{ content }}
        <img src="/assets/img/silhuette.png" id="silhuette" />
    </div>
  </body>
</html>